<template name="navbar">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid navbar-container">
                <div class="navbar-text pull-left ylebedeva">
                    <img class="userpic" src={{userpic}} width="80" height="80"><span class="username">YLEBEDEVA<span>
                </div>
                <p class="user-menu navbar-text pull-right">{{loginButtons align="right"}}</p>
                <a class="brand" href="#">Instagram</a>
            </div>
        </div>
    </div>
</template>
